@font-face{
	src: url(../fonts/Poppins-Regular.ttf);
	font-family: poppins;
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: poppins;
}
section{
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	/*background:hsla(50deg,100%,50%,1);*/
}
.bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:url(../pics/goa.jpg);
    background-size: cover;
    background-position:center;
    transition: 0.5;
}
#select-state{
	position:relative;
	padding: 10px;
	border-radius: 4px;
	width: 250px;
	height:50px;
	font-size: 1.2em;
	border:none;
	box-shadow:0 15px 25px rgba(0,0,0,0.1);
	border-right: 10px solid #fff;

}
#select-state:focus{
	outline: none;
}